body
{
    margin: 0;
    padding: 0;
    background-color: #F8F8F8;
}

.split1
{
    height: 100%;
    width: 5%;
    position: fixed;
    top: 0;
    z-index: 1;
    overflow-y: hidden;
}

.split2
{
    height: 100%;
    width: 95%;
    position: fixed;
    top: 0;
    z-index: 1;
    overflow-x: hidden;
}

.left
{
    left: 0;
    /* background-color: rgb(219, 219, 219); */
}

.right
{
    right: 0;
}

/*---------------------*/

.side a
{
    text-align: center;
    padding: 8px 0 8px 0;
    text-decoration: none;
    font-size: 15px;
    color: #6d6a6a;
    display: block;
}

.side a span
{
    margin-right: 8px;
}

/* Left slider ------------->    */

.name
{
    display: none;
}

.list:hover .name 
{
    display: inline-block;
}

.list:hover .fa 
{
    display: inline-block;
}   

/* -----------------> */

.side
{
    margin-top: 45px;
}

.side a:hover:not(.closebtn)
{
    background-image: linear-gradient(to right, rgb(173, 66, 173),rgb(167, 26, 167)); 
    color: white;
    /* border: none; */
    /* margin-right: 15px; */
    /* transition: 0.4s ease-in; */
    /* box-shadow: 7px 7px 10px rgb(194, 191, 191); */
}


@media (max-width: 768px)
{
    .side
    {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(248, 246, 246);
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }
    
    .side a 
    {
        text-align: center;
        padding: 8px 0 8px 0;
        text-decoration: none;
        font-size: 15px;
        color: #6d6a6a;
        display: block;
        transition: 0.3s;
    }

    .side a span
    {
        margin-right: 8px;
    }
    
    .side a:hover:not(.closebtn)
    {
        background-image: linear-gradient(to right, rgb(173, 66, 173),rgb(167, 26, 167)); 
        color: white;
        border: none;
        margin-right: 15px;
        transition: 0.4s ease-in;
        box-shadow: 7px 7px 10px rgb(194, 191, 191);
    }

}


/* Menu icons */
  
.side .closebtn 
{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
.fa-bars
{
    padding: 5px;
    margin-top: 10px;
    font-size: 30px;
    cursor: pointer;

}


@media screen and (max-height: 450px) 
{
    .side 
    {
        padding-top: 15px;
    }
    .side a 
    {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px)
{
    .side a 
    {
        text-align: center;
        padding: 8px 0 8px 0;
        text-decoration: none;
        font-size: 10px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
}


/*----------------------------------*/

/* navbar */
.navbar
{
    border: none;
    border-radius: none;
}

.navbar .navbar-header h3
{
    display: inline-block;
    margin-top: 10px;
    margin-left: -6px;
}

.search-container
{
    position: relative;
    margin: 20px 50px 5px 0;
}

.search-container input
{
    border-radius: 10px;
}

::-webkit-input-placeholder
{
    text-align: center;
}

.search-container .btn-circle 
{
    position: absolute;
    top: -12px;
    right: -30px;
    border: none;
    padding: 12px 17px;
    border-radius: 45px;
}

.search-container .btn-circle a, .btn-circle span.fa-search
{
    color: black;
    background-color: #dbdada;
}

.search-container .btn-circle:hover
{
    color: white;
    background-color: coral;
    border: none;
}

li a .fa-bell, li a .fa-th-large, li a .fa-user
{
    font-size: 20px;
    color: #000000;
}

li a .fa-bell:hover, li a .fa-th-large:hover, li a .fa-user:hover
{
    color: coral;
}

@media screen and (max-width: 768px)
{
    li a .fa-bell, li a .fa-th-large, li a .fa-user
    {
        display: none;
    }

    .search-container
    {
        position: relative;
        margin: 20px 50px 5px 30px;
        width: 20%;
    }

    .search-container .btn-circle
    {
        position: absolute;
        top: -12px;
        left: 150px;
        border: none;
        padding: 15px 20px;
        border-radius: 45px;
    }
}

/*----------------------------*/

.panel-default 
{
    margin-top: 10px;
}

.panel-default span.fa
{
    margin-top: -10px;
    margin-left: 10px;
}

.panel-default span.fa-clone
{
    border: 1px solid orange;
    background-color: orange;
    border-radius: 2px;
    padding: 13px;
    color: white;
}

.panel-default span.fa-money
{
    border: 1px solid  rgb(5, 172, 5);
    background-color: rgb(5, 172, 5);
    border-radius: 2px;
    padding: 13px;
    color: white;
}

.panel-default span.fa-info-circle
{
    border: 1px solid rgb(231, 40, 40);
    background-color: rgb(231, 40, 40);
    border-radius: 2px;
    padding: 13px;
    color: white;
}

.panel-default span.fa-twitter
{
    border: 1px solid rgb(54, 134, 255);
    background-color: rgb(54, 134, 255);
    border-radius: 2px;
    padding: 13px;
    color: white;
}

.right-corner
{
    width: 40%;
    right: 50%;
    transform: translateX(140%);
    text-align: right;
    margin-top: -23px; 
}

.right-corner #p1
{
    font-size: 11px;
}

.right-corner #p2
{
    font-size: 17px;
}

.bottom-left p
{
    font-size: 11px;
    padding-left: 10px;
}

/*---------------------------*/

.panel-default2
{
    margin-bottom: 30px;
}

.box h4, .box p
{
    padding-left: 10px;
}

.box hr
{
    margin-top: 7px;
    margin-bottom: 7px;
    width: 80%;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.box p#duration
{
    font-size: 10px;
}

/*--------------------------*/

.panel-head1
{
    margin-top: -15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 4px;
    color: white;
    background-image: linear-gradient(to right, rgb(172, 62, 172),rgb(143, 9, 143));
}

.panel-head1 p, .panel-head1 .p-tab
{
    position: relative;
    top: 45%;
    transform: translateY(10%);
}

.panel-head1 .p-tab
{
    padding: 5px 7px;
}

.panel-head1 .p-tab:hover
{
    border-radius: 3px;
    background-color: rgb(202, 94, 202);
    color: white;
}

input[type="checkbox"], .panel-default3 p
{
    padding: 1px;
    display: inline-block;
}

input[type="checkbox"]
{
    margin-left: 10px;
    margin-top: 10px;
}

button.btn1
{
    float: right;
    margin-top: 2px;
    margin-right: 5px;
    padding: 3px 10px;
    background-color: white;
}

/*----------------------------*/

.panel-head2
{
    margin-top: -15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 4px;
    color: white;
    background-color: orange;
}

.panel-default3 .table-responsive
{
    margin-top: 8px;
    margin-bottom: 10px;
}

.panel-head2 p
{
    padding: 5px;
}

/*------ newadmin.html--------*/
/*---newadmin1 [first Page]---*/

.panel-form
{
    width: 70%;
    position: relative;
    left: 50%;
    text-align: center;
    transform: translate(-50%);
    background-color: #ffffff;
}

.panel-form h3
{
    padding-left: 200px;
    margin-top: 20px;
}

.container-form
{
    margin: 20px;
}

.input-icons
{
    position: relative;
    font-size: 16px;
}

.input-icons .fa-user, .input-icons .fa-envelope, .input-icons .fa-user-circle, .input-icons .fa-key
{ 
    position: absolute;
    top: 9px;
    left: 15px;
}

.input-icons input
{
    background: #fcfcfc;
    text-indent: 30px;
}

::-webkit-input-placeholder
{
    text-align: left;
}

/*--newadmin1 [second Page] ------------*/

.sys-timer  
{
    color: #6d6a6a;
    float: right;
    font-size: 17px;
    margin-top: 25px;
    margin-right: 15px;
}

.head-bar
{
    color: rgb(109, 12, 109);
    font-size: 23px;
    font-weight: bold;
}

.head-left p
{
    color: rgb(7, 128, 165);
    font-size: 17px;
    margin: 10px 2px;
}

/*Toggle switch------>  ORANGE  */

.switch-left, .switch-right
{
    margin: 4px;
    position: relative;
    display: inline-block;
    width: 90px;
    height: 30px;
}

.slider-left, .slider-right 
{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider-left:before, .slider-right:before
{
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
  
input:checked + .slider-left
{
     background-color: orange;
}

input:checked + .slider-right
{
     background-color: coral;
}
  
input:checked + .slider-left:before, input:checked + .slider-right:before 
{
    -webkit-transform: translateX(36px);
    -ms-transform: translateX(36px);
    transform: translateX(58px);
}
  
  /* Rounded sliders */
.slider-left.round, .slider-right.round 
{
    border-radius: 34px;
}
  
.slider-left.round:before, .slider-right.round:before
{
    border-radius: 50%;
}   
/*        <---------              */

.btn-finish
{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 7px 25px;
    border-radius: 5px;
    color: white;
    width: 30%;
}

.btn-finish
{
    background-color: rgb(40, 212, 40);
}



/*----  ranking.html  ----*/

.container-fluid1
{
    margin: 0 30px;
}

.container-fluid1 .list-group-item
{
    padding: 0; 
}

.tabled-effect th
{
    padding: 15px 5px;
    text-align: center;
}

.tabled-effect tbody tr td
{
    padding: 5px 8px;
    text-align: center;
}

.tabled-effect .centering-td
{
    padding: 5px 8px;
    max-width: 150px;
}

.container-fluid1 .table thead tr
{
    background-color: rgb(197, 197, 197);
    color: white;
}

.container-fluid1 .table tr:hover:not(.not-hover)
{
    background-color: rgb(195, 223, 231);
    cursor: pointer;
}


.container-fluid-row2
{
    padding: 0;
    margin-left: -15px;
    margin-right: -15px;
}

.video-panel-box
{
    padding: 5px;
}

.image
{
   margin-top: 40px;
   margin-bottom: 10px;
   margin-left: 5px;
}

.panel-details h2
{
    margin-top: 25px;
}

.panel-details .thumbnail
{

    max-width: 200px;
    max-height: 200px;
}

.panel-details td
{
    padding: 5px 7px;
}

@media (max-width: 400px)
{
    .panel-details h2
    {
        font-size: 20px;
    }
}

.sliding
{
    animation-name: rank-slide-table;
    animation-duration: 1s;
    animation-iteration-count: 1;
}


/*------selection.html------*/

.panel-selection-top ul li p
{
    display: inline-block;
}

.panel-selection-bottom .table thead tr th
{
    text-align: center;
}

/* -------> modal      */

.modal /* for displaying modal only*/
{
    display: none; 
    position: fixed;
    z-index: 1; 
    padding-top: 25px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content */
.modal-content 
{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
}
  
.close 
{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover, .close:focus 
{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}   

/*My customization inside the modal*/
.modal-container   
{
    margin: 5px;
}

.video-formodal
{
    padding: 3px;
    border: 2px inset grey;
}

.left-modal-collapse .btn-modal-ok
{
    width: 100%;
    color: white;
    background-color: rgb(157, 250, 157);
    padding: 5px 20px;
}
.left-modal-collapse .btn-modal-notok
{
    width: 90%;
    color: white;
    background-color: rgb(255, 168, 168);
    padding: 5px 20px;
}

.left-modal-collapse textarea
{
    margin: 5px 15px 5px 15px;
    width: 95%;

}

.btn-modal-more
{
    background-color: rgb(0, 217, 255);
    color: white;
    padding: 5px 45px;
    margin-top: 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.right-modal-collapse table
{
    margin-top: 5px;
    border: 1px solid rgb(182, 182, 182);
    width: 100%;
}


.right-modal-collapse table td
{
    padding: 3px;
}



/* <------------------  */


/*-------unviewed.html------*/

.slidedown
{
    animation-name: slidedown;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.panel-view .video
{
    margin: 10px;
    border: 3px inset #ccc8c8;
}

.panel-view .image .thumbnail
{
    max-width: 150px;
    max-height: 150px;
}

.panel-view table td
{
    padding: 2px 8px;
}

.btn-collapse
{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    background-color: rgb(76, 177, 235);
    color: white;
}

.btn-collapse:hover
{
    background-color: rgb(9, 116, 179);
    color: white;
}

.panel-unview-right
{
    margin-right: 10px;
}   

.panel-unview-right .table .tbody .fa-th-large:hover
{
    background-color: green;
    color: white;
}

.btn-unview-accept
{
    padding: 5px 20px;
    background-color: green;
    color: white;
    float: right;
    margin-bottom: 10px;
}

.btn-unview-reject
{
    padding: 5px 20px;
    background-color: rgb(209, 31, 31);
    color: white;
    margin-bottom: 10px;
}



@media (max-width: 991px)
{
    .panel-view
    {
        margin: 5px;
    }

    .panel-unview-right
    {
        margin: 5px;
    }   
}


/*------ verfication.html ----*/

.verification-h1
{
    margin-top: 0;
    padding-left: 20px;
    padding-right: 20px;
}

.panel-verification-left .table-responsive
{  
    background-image: linear-gradient(rgb(221, 224, 224),rgb(186, 201, 204));
}

.element-box
{
    border: 1px solid rgb(255, 254, 254);
    margin: 5px;
    border-radius: 3px;
    background-color: white;
}

.panel-verify-right .photo, .panel-verify-right .document
{
    border: 2px inset rgb(207, 207, 207);
}

.panel-verify-right .photo img, .panel-verify-right .document
{
    padding: 5px;
}

/* Making photo responsive ----->  */
.panel-verify-right .document
{
	position: relative;
	padding-bottom: 74.25%; /* 16:9 */
    padding-top: 25px;
	height: 0;
    margin: 10px;
}
.panel-verify-right .document iframe
{
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.panel-verify-right .photo
{
	position: relative;
	padding-bottom: 74.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
    margin: 10px;
}
.panel-verify-right .photo img
{
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* <----- Making photo responsive */


.panel-verify-right .table-responsive td
{
    padding: 5px 10px;
}

.container-verify-box
{
    margin: 5px 5px 5px 5px;
    padding: 0;
}

.container-verify-box:hover
{
    background-image: linear-gradient(rgb(255, 179, 93), rgb(253, 239, 239));
}

.container-verify-box ul
{
    padding: 0;
}

.container-verify-box ul li 
{
    color: black;
    letter-spacing: 1px;
    font-size: 14px;
    padding: 4px 0 0 0;  
    margin-left: 5px;
    margin-right: 5px;
}

.container-verify-box ul li i
{
    color: black;
    font-style: normal;
    font-size: 12px;
    font-family: 'Noto Sans KR', sans-serif;
}

.panel-verify-right .detail-center
{
    margin-left: 15px;
}

.panel-verify-right .center-btn
{
    position: relative;
    top: 50%;
    transform: translateY(90%);
}

.panel-verify-right .btn-ok, .panel-verify-right .btn-notok
{
    background-color: rgb(199, 27, 199);
    color: white;
    width: 100px;
}

.panel-verify-right .btn-ok
{
    margin-bottom: 5px;
}











/*------------------------------------*/

/*Customizing the scroll bar of video.html*/

::-webkit-scrollbar 
{
    width: 5px;
}

/* Displays the track for scrollbar*/
::-webkit-scrollbar-track 
{
    background: #f1f1f1; 
}
   
  /* Handle for scrollbar */
::-webkit-scrollbar-thumb 
{
    background: rgb(219, 215, 215); 
}
  
  /* Scrollbar handle hover */
::-webkit-scrollbar-thumb:hover 
{
    background: rgb(170, 167, 167); 
}

/*------------------------*/




/*Animations & effects*/

/*------[ranking.html]-------*/

@keyframes rank-slide-table 
{
    from {
        height: 490px;
    }
  
    to {
        height: 250px;
    }
}

/*-------unviewed.html------*/

@keyframes slidedown
{
    from {
        height: 450px;
    }
    to {
        height: 650px;
    }
}




/*Modal inside the review table*/

/* .modal-content
{
    background-image: linear-gradient(rgb(37, 218, 249), rgb(78, 252, 237));
}

.modal-btn-accept, .modal-btn-reject
{
    padding: 5px 15px;
    background-color: white;
    border: 1px solid white;
}

.modal-btn-accept
{ 
    color: rgb(8, 151, 39);
    font-weight: bold;
}

.modal-btn-reject
{   
    color: rgb(243, 47, 47);
    font-weight: bold;
    margin-left: 20px;
}

.modal-btn-accept:hover
{
    color: white;
    background-color: rgb(8, 151, 39);
    border: 1px solid rgb(8, 151, 39);
}

.modal-btn-reject:hover
{
    color: white;
    background-color: rgb(243, 47, 47);
    border: 1px solid rgb(243, 47, 47);
}

.modal-btn-select-left
{
    float: left;
}

.modal-btn-select-right
{
    float: right;
}

.panel-vote
{
    background-color: #11886c;
    color: white;
    text-align: center;
    border: none;
    max-width: 47%; 
    padding: 3px 10px;
}

.panel-vote p
{
    display: inline-block;
    margin: 0;
}

.video
{
    border: none;
}

.modal-header
{
    padding: 9px;
}

.modal-body ul
{
    padding-left: 0px; 
}

.modal-body ul li 
{
    color: black;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 14px;
}

.modal-body ul li i
{
    color: black;
    font-style: normal;
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
}

.modal-body .thumbnail
{
    margin-left: 10px; 
    max-height: 190px;
    max-width: 200px;
} */

